<%- include('partials/header', { title }) %>

<section class="card">
  <h1>À propos</h1>
  <p>Cette application utilise Express, EJS, des includes et des sessions.</p>
</section>

<%- include('partials/footer', {
  footerText: "Page à propos",
  footerExtra: "Infos projet"
}) %>
