<%- include('partials/header', { title }) %>

<section class="card">
  <h1>Contact</h1>
  <p>Vous êtes sur la page contact.</p>
</section>

<%- include('partials/footer', {
  footerText: "Page contact"
}) %>
